div .fa{
    background: #7EC636;
    color: white;
    opacity: 0.7;
    padding: 2px; 
    font-size: 15px; 
    width: 30px;
    text-align: center;
    text-decoration: none; 
    margin: 5px ;
    border-radius: 40%;
}

body {
    background-color: black;
    color: white;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

li a:link{
color: white;
text-decoration:none;
}

#social{
    text-decoration: none;
}

nav a:visited {color: white;
}

#navbar{
/* float: left; */
/* width: 15%; */
/* padding: 20px; */
/* margin: auto; */
/* min-height: 80%; */
/* justify-content: space-between; */
}

nav a:link {color: white;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        /* padding: 10px; */      
}

a:visited {
    color: white;
    text-decoration: none;
}

footer{
    background-color: #1c2224;
}

#floatleft{
    /* float: left; */
    /* width: 50%; */
    /* padding-right: 100px; */
    /* height: 30%; */
}

#moveleft{
    /* float: left; */
    height: 200px;
    width: 300px;
    padding-left: 17%;
}

#homeleft{
    /* float: left; */
    /* width: 40%; */
    /* padding-right: 60px; */
    /* height: 20%; */
}

#homeright{
    /* float: right; */
    /* width: 40%; */
    /* padding-right: 60px; */
}

#pleft{
    font: 1.5em caslon;
    /* float: left; */
    /* padding-left: 17%; */
    /* width: 30%; */
}

#main{
    height: 2800px;
}

main{
    height: 1000px;
}

form{
    font: 2em cera Pro;
}

#submit{
    background-color: black;
    color: #7EC636;
    border-width: 5px;
    border-color: #7EC636;
}

ul.a{
    list-style-type: none;
    text-decoration: none;
    text-decoration-color: none;
}

img.mainpic{
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
}

div.itgirl{
    /* float: left; */
    height: 300px;
    text-align: center;
    width: 50%;
    font-size: large;
}

div.thatgirl{
    /* float: right; */
    height: 500px;
    text-align: center;
    width: 50%;
    font-size: large;
}

table{ 
    border-color: #7EC636;
    width: 300px;
    text-align: center;
    border-collapse: collapse;
}
p.bold{
    font: bold;
}

.macbook{
    /* float: right; */
    width: 40%;
    padding-right: 100px;
    height: 60%;
}

.video{
    /* float: right; */
    width: 40%;
    padding-right: 70px;
    height: 60%;
    padding-left: 50px;
    padding-bottom: 75px;
}

/*  ===========================
    Mobile Styles: 0px to 480px
    ===========================
*/
@media only screen and (width: 769px) {
    
}

/*  ================================
    Tablet Styles: 481px and greater
    ================================
*/
@media only screen and (min-width: 481px) {

}

/*  =================================
    Desktop Styles: 769px and greater
    =================================
*/
@media only screen and (min-width: 769px) {}